<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="trans_mrs2016-transaction_id-<%%VALUE(transaction_id)%%>" class="text-right"><%%VALUE(transaction_id)%%></td>
		<td id="trans_mrs2016-firstname-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(firstname)%%></td>
		<td id="trans_mrs2016-lastname-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(lastname)%%></td>
		<td id="trans_mrs2016-email-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(email)%%></td>
		<td id="trans_mrs2016-phone-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(phone)%%></td>
		<td id="trans_mrs2016-quantity-<%%VALUE(transaction_id)%%>" class="text-right"><%%VALUE(quantity)%%></td>
		<td id="trans_mrs2016-amount-<%%VALUE(transaction_id)%%>" class="text-right"><%%VALUE(amount)%%></td>
		<td id="trans_mrs2016-mailinglist-<%%VALUE(transaction_id)%%>" class="text-right"><%%VALUE(mailinglist)%%></td>
		<td id="trans_mrs2016-transactiondate-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(transactiondate)%%></td>
		<td id="trans_mrs2016-seller-<%%VALUE(transaction_id)%%>" class=""><%%VALUE(seller)%%></td>
